.box{
    height:150px;
    width:150px;

}
.one{
    background-color: aquamarine;
    position:relative;
    z-index:2;
}
.two{
    background-color: red;
    position:relative;
    bottom:50px;
    z-index:1;
}
.three{
    background-color: pink;
}